::ng-deep body,
::ng-deep html {
    margin: 0px;
} 


.content{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.tilesHolder{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + var(--tile-size));
    top: calc(var(--tile-size)/-4);
    left: calc(var(--tile-size)/-4);
}

#title{
    z-index: 0;
    position: absolute;
    margin-left: 2vmin;
    margin-top: 1vmin;
    
    display: flex;
    padding: 2px 40px;

    background-color: var(--modal-background-color);
    border: 8px solid var(--modal-border-color);
    border-radius: 100px;
      
    h1{
        position: relative;
        width: max-content;
    }    
}