<main class="main" [style.--tile-size]="adjustedPxSize + 'px'">
  <div id="landingPage" [ngClass]="titleDisplayed ? 'visible' : 'invisible'">
    <div id="cover"></div>
    <div id="title" [style.opacity]="titleDisplayed ? 100 : 0 + '%'">
      <h1 class="pxOutline twoPxOutline">Tileset Viewer</h1>
      <p class="pxOutline">Tap once to make this title page dissapear</p>
      <p class="pxOutline">Tap twice to generate a new image</p>
    </div>
  </div>

  <div class="content">
    <div class="tilesHolder" *ngIf="showingTiles">
      <tile-component *ngFor="let tile of tileGen" [zoomLevel]="zoomLevel" />
    </div>
  </div>
</main>
