.tileDiv{
    position: relative;
    z-index: -2;
    overflow: hidden;

    &.right{
        rotate: 90deg;
    }
    &.back{
        rotate: 180deg;
    }
    &.left{
        rotate: 270deg;
    }
}

.tile{
    position: relative;
    width: var(--tile-size)px;
    height: var(--tile-size)px;
}